body {
  background-color: #666666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  text-align: center;
}

h1 {
  text-shadow: 0 0 0.1em #000;
}

/* svg elements */
text {
  display: inline;
  cursor: pointer;
  fill: #fff;
  text-shadow: 0 0 0.2em #666666, 0 0 0.2em #666666, 0 0 0.2em #666666;
  font-size: 14px;
}
path {
  stroke: #000;
}
svg {
  max-width: 700px;
  margin: 10px;
}
/* End svg elements */

#info-panel {  
  margin: 1em;
  color: #666666;
  text-align: center;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  padding: 0.8em;
}
#info-panel h1 {
  text-shadow: 0 0 0;
}

.container {
  font-size: 20px;
  margin: 15px;
}